.content {
    opacity:0 !important;
}
/* body,html {
    background-color: black !important;
} */

/* .controls-bar-container {
    display: none !important;444
}
back-to-browse-widget {
    display: none;
}
.controls-bar-container {
    display: none !important;
} */